h2 {
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 900px;
  text-align: center;
  color: #212121;
  /* display: none; */
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-image: none;
}

body {
  font-family: "Relaway", sans-serif;
  font-weight: 700;
}

/*Header*/

header {
  background-color: #ffffff;
  /*outline: 2px dashed red;*/
  width: 1025px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px;
  /* display: flex; */
  justify-content: space-between;
}

.header-position {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  /* outline: 7px solid black; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.logo-Studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.nav-list {
  display: flex;
  margin-left: 93px;
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

/*links to other Webstudio's pages*/

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 10px;
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-list:focus {
  color: #000000;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.nav-link {
  text-decoration: none;
}

/*Contacts on main page*/
.header-contacts {
  display: flex;
}
.contacts-email:hover,
.contacts-email:focus {
  color: #2196f3;
}
.contacts-email {
  /* margin-left: 344px;
  margin-right: 50px;*/
  color: #757575;
  top: 32px;
  left: 509px;
  right: 30px;
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: #2196f3;
}
.contacts-tel {
  /*margin-right: 215px;*/
  color: #757575;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 30px;
  margin-right: 215px;
}
/*.header-contacts + .header-contacts {
  margin-left: 50px;
}*/

/*Main*/

.hero {
  max-width: 1600px;
  /* opacity: 0.8; */
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(47, 48, 58, 0.4);
  background-image: url("../images/працівники.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #2f303a; */
  /* margin-top: 30px;
  margin-bottom: 94px; */
  /* display: block; */
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  left: 452px;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  /* background-color: #2f303a; */
  /* position: absolute;
  top: 35%; */
  right: 27%;
  left: 27%;

  border-radius: 4px;
}

.hero-button {
  /* margin: 690px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: aliceblue;
  border: none;
  border-radius: 4px;
}
h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*Our qualities*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
}
.features-subtitle {
  display: none;
}
.menu {
  display: flex;
}
.features-item {
  margin-top: 10px;
  margin-bottom: 94px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}
.features-text {
  margin-left: 30px;
  color: #757575;
}

/*What we do*/

.job-list {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.job-photo + .job-photo {
  margin-left: 30px;
}

/* Our team */
.our-team {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-position {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #757575;
}
.container-team {
  max-width: 1600px;
  height: 648px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

/* footer */

.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-name {
  padding-top: 20px;
  color: #ffffff;
}
.address-contacts {
  display: flex;
  padding-top: 9px;
  color: #ffffff;
}

.box {
  padding: 30px 70px;
  background-color: #ffffff;
}
.logo-studio-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}
